body{
    background-color: powderblue;
}

.jumbotron{
    background-color: rgba(210, 210, 210, .7);
}

.jumbotron-container{
    margin-top:85px;
}
.jumbotron-container-register{
    margin-top:20px;
}
.submit-control{
    text-align: center;
}
.submit{
    margin-top:10px;
    margin-right: 10px;
    width: 120px
}

.register{
    margin-top:10px;
    margin-left: 10px;
    width:120px;
}

.input-group .form-control{
    margin-bottom: 5px !important;
}

.logo{
    text-align: center;
    margin-bottom:10px;
    height: 200px;
    width: 200px;
}
.logo-container{
    text-align: center;
}

.lbl-info{
    width: 130px;
}

h1{
    text-align: center;
}